.sidebar_side {
  padding: 10px 10px;
}
.menu {
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start;
  border-radius: 40px;
  padding: 0px 15px;
  font-family: "Fira Code";
  font-size: 20px;
  transition: all 0.3s ease;
}
.menu:hover {
  background-color: #0066ff;
  cursor: pointer;
}
.is_active {
  background-color: #0066ff;
}
